
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calculator {
    width: 290px;
    margin: 50px auto;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

  .button {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .button:hover {
    background-color: #c43030;
  }


  echo "# Object" >> README.md
  git init
  git add README.md
  git commit -m "first commit"
  git branch -M main
  git remote add origin https://github.com/sunjidulislam/Object.git
  git push -u origin main